<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELLCOME {{messages.login_customer}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/inicio_cliente.css" rel="stylesheet" media="screen" type="text/css">
</head>
<body>
<div>
    <center>
        <h1 class="text-center pt-5">WELLCOME {{messages.login_customer}} </h1>
    </center>
    </br>
    </br>
    </form>
    <!-- BOTONES -->
    <a href="add_new_quote">
        <input type="image"
               id="addnewquotes"
               src="static/img/addnewquotes.png"
               name="addnewquotes"
               style="position: absolute ; top: 28%; left: 33%; width: 6%; min-width:80px;max-width:100px"
               class="btn btn-info btn-md"
               alt="Submit"
        </br><span class="texto-enlace"
                   style="position: absolute ; top: 42%; left: 32%">ADD NEW QUOTES</span>
    </a>
    <a href="quotations">
        <input type="image"
               src="static/img/quoteinprogress.png"
               id="quoteinprogress"
               class="btn btn-info btn-md"
               name="quoteinprogress"
               style="position: absolute ; top: 28%; left: 43%; width: 6%; min-width:80px;max-width:100px"
               alt="Submit">
        </br><span class="texto-enlace"
                   style="position: absolute ; top: 42%; left: 41.5%">QUOTES IN PROCESS</span>
    </a>

        <input type="image"
               src="static/img/confirmquotes.png"
               id="confirmquotes"
               class="btn btn-info btn-md"
               name="confirmquotes"
               style="position: absolute ; top: 28%; left: 53%; width: 6%; min-width:80px;max-width:100px"
               alt="Submit"">
        </br><span class="texto-enlace"
                   style="position: absolute ; top: 42%; left: 52%">CONFIRM QUOTES</span>

        <input type="image"
               src="static/img/cancelquotes.png"
               id="cancelquotes"
               class="btn btn-info btn-md"
               name="cancelquotes"
               style="position: absolute ; top: 28%; left: 63%; width: 6%; min-width:80px;max-width:100px"
               alt="Submit">
        </br><span class="texto-enlace"
                   style="position: absolute ; top: 42%; left: 62.5%">CANCEL QUOTES</span>
        <a href="suppliers">
            <input type="image"
                   src="static/img/supplierdatabase.png"
                   id="supplierdatabase"
                   class="btn btn-info btn-md"
                   name="supplierdatabase"
                   style="position: absolute ; top: 55%; left: 43%; width: 6%; min-width:80px;max-width:100px"
                   alt="Submit">
            </br><span class="texto-enlace"
                       style="position: absolute ; top: 69%; left: 41.5%">SUPPLIER DATABASE</span>
        </a>

        <input type="image"
               src="static/img/calendar.png"
               id="calendar"
               class="btn btn-info btn-md"
               name="calendar"
               style="position: absolute ; top: 55%; left: 53%; width: 6%; min-width:80px;max-width:100px"
               alt="Submit">
        </br><span class="texto-enlace"
                   style="position: absolute ; top: 69%; left: 53.5%">CALENDAR</span>
        </form>


</div>
</body>
</html>

